{
  "testmode": false,
  "transports": {
    "slack": {
      "api": "https://hooks.slack.com/services/XXX/YYY/ZZZ",
      // are supported values: Raw, HTML, Markdown, Slack
      "textMode": "slack"
    },
    "telegram": {
      "api": "https://api.telegram.org",
      "chatId": "",
      "botId": "",
      "token": "",
      "format": "application/json",
      "silentNotify": true,
      "textMode": "HTML"
    }
  }
}