{
  "MainLoopInterval": 60,
  "ChatId": "",
  "BotId": "",
  "Token": "",
   "Transport": {
     "Api": "https://api.telegram.org",
     "Format": "application/json",
     "SilentNotify": true,
     "TextMode": "HTML"
   }
}