{
  "testmode": false,
  "transports": {
    "slack": {
      "slackApiToken": "",
      "slackChannel": "general"
    },
    "telegram": {
      "api": "https://api.telegram.org",
      "chatId": "",
      "botId": "",
      "token": "",
      "format": "application/json",
      "silentNotify": true,
      "textMode": "HTML"
    }
  }
}